.sidebar {
  min-height: 100vh;
  max-width: 20em;
  border-left: 1px solid gray;

  .user {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    //cursor: pointer;

    font-family: Arial;

    .userAvatar {
      display: flex;
      align-items: center;
      width: 6em;
      padding: 0.2em;

      img {
        width: 100%;
        border-radius: 0.4em;
      }
    }

    .userInfo {
      width: 14em;
      word-break: break-all;
      padding: 0.2em 0.4em;
    }
  }
}